{% extends 'common/base.html' %}
{% block content %}
    <div>
        <section class="content-header">
            <span>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">控制面板</li>
                </ol>
            </span>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">项目简介</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                百战团队网络题库系统的主要是方便用户自己建立自己的题库。特点在于把自己纸质版，电子版的题转为网络题库，并添加的简单阅卷评分，生成报告等功能
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">特色版块</h3>
                        </div>
                        <div class="box-body">
                            <p><b>系统模块</b></p>
                            <p>系统管理：登录日志查看；操作日志查看；</p>
                            <p>权限管理：针对不同角色的用户权限管理</p>
                            <p>用户模块：查看用户信息</p>
                            <p><b>试题模块</b></p>
                            <p>题型管理：题型的添加，删除，修改</p>
                            <p>题目管理：题目的查看，添加上传，修改，删除</p>
                            <p><b>试卷模块</b></p>
                            <p>组题功能：按用户要求组卷</p>
                            <p>试卷管理：试卷查看，修改，删除</p>
                            <p>考试功能：设定考试要求，考试开始</p>
                            <p>报表功能：按考试看报表，按用户查看报表</p>
                            <p><b>用户模块</b></p>
                            <p>用户信息查看，注册，登录</p>
                            <p>通知模块：查看考试通知</p>
                            <p>群组模块：是用于多人考试的群组</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
