{% extends 'common/base.html' %}
{% import 'common/page.html' as pg %}
{% block content %}
    <section class="content-header">
        <div>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 考试管理</a></li>
                <li class="active">考试列表</li>
            </ol>
        </div>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">查看消息</h3>
                        <div class="box-body table-responsive no-padding">
                            <div class="col-lg-9 animated fadeInRight">
                                <div class="mail-box"
                                     style="padding:20px;border: 1px solid silver;border-radius: 10px;box-shadow: 5px 5px 3px #d2d6de">
                                    <div class="mail-body">
                                        <div class="mail-attachment">
                                            <p class="float-left"><strong>{{ session['user'] }}:</strong></p>
                                            <p class='context' data-context="{{ message.context }}"></p>
                                            <p class="float-right" style="clear: left">
                                                <strong>{{ message.sender.username }}</strong></p>
                                            <p class="float-right" style="clear: both">
                                                <strong>{{ message.addtime }}</strong></p>
                                            <div class="mail-body text-right tooltip-demo" style="clear: both">
                                                <a class="btn btn-sm btn-white" href="{{ url_for('main.message') }}"><i
                                                        class="fa fa-reply"></i>返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('.context').each(function () {
                var self = $(this);
                self.html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + self.data('context'));
            })
        })
    </script>
{% endblock %}